body { 
  margin: 0px; 
  padding: 0px; 
  font-family: 'Open Sans', sans-serif; 
  background-color: rgb(214,247, 206); 
}
.cartContainer {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	width: 90%; 
	border: 0px solid black;
	display: flex; 
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
}

.cartThumbNail {
	position: relative;
	top: 5px;
	left: 5px;
	height: 60px;
	border-radius: 7px;
	box-shadow: 3px 3px 9px rgb(70,70, 70);
}
.cartIcon {
	position: relative;
	top: 5px;
	left: 30px;
	height: 25px;
}

.cartPictureDiv {
	text-align: left;
	width: 8%;
}
.cartOrderLineDiv{
	display: flex; 
	flex-flow: row;
	justify-content: flex-start;
	align-content: center;
	height: 70px;
	width: 95%; 
	text-align: center;
	background-color: rgb(220, 235, 225);
	box-shadow: 8px 8px 20px rgb(70,132, 107);
	border-radius: 12px;
}
.cartOrderDetailDiv{
	position: relative;
	width: 90%;
	top: 15px;
	left: 50px;
	height: 20px;
	border: 0px solid black;
}
table{
  width: 90%;
  position: relative;
  top: 0px;
}
.thText{
  color: rgb(170, 170, 170);
  width: 55%;
  text-align: left;
}
.thNumber{
  color: rgb(170, 170, 170);
  width: 8%;
  text-align: left;
}
.thAmount{
  color: rgb(170, 170, 170);
  width: 20%;
  text-align: right;
}

.tdText{
  color: black;
  text-align: left;
}
.tdNumber{
  color: black;
  text-align: left;
}
.tdAmount{
  color: black;
  text-align: right;
}
