body { 
  margin: 0px; 
  padding: 0px; 
  font-family: 'Open Sans', sans-serif; 
  background-color: #d6f7ce;  
}
.wrapper {
    width: 100%;
}
.headerDiv {
    width: 100%;
}
.imageDiv {
    background-color: #d6f7ce;  
	float: left;
	width: 59%;
	height: 850px;
	border: 0px solid red;
	display: flex; 
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: 5px;
}
.bigImage{
	height: 680px;
	box-shadow: 8px 8px 16px #46846b;
	border-radius: 30px;
	
}
.smallImage{
	height: 120px;
	border-radius: 10px;
	
}
.smallImage:hover {
	border: 10px solid #d6f7ce;
	border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
}

.thumbNailBar {
	width: 99%;
	height: 120px;
	border: 0px solid green;
	justify-content: center;
	display: flex; 
	gap: 1px;
}
.textDiv {
    width: 40%;
	float: right;
	color: rgb(50, 50, 50);
}

.textHeaderDiv {
	font-size: 35px;
	font-family: cooper black;
	font-style: italic;
	color: rgb(29, 109, 116);
}

.retailPrice{
	font-size: 50px;
	/*color: #1d6d74;*/
	color: rgb(29, 109, 116);
	font-family: cooper black;
}	

.textCostsDiv {
	font-size: 20px;
}

	span {cursor:pointer; }
		.number{
			margin:100px;
			align: left;
		}
		.minus, .plus{
			font-size: 23px;
			color: black;
			width:30px;
			height:25px;
			background:#f2f2f2;
			border-radius:4px;
			padding:8px 5px 8px 5px;
			border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
		}
		input{
			height:44px;
      width: 70px;
      text-align: center;
      font-size: 20px;
			border:1px solid #ddd;
			border-radius:4px;
      display: inline-block;
      vertical-align: middle;
	}
		
.addCart{
	height:44px;
	width: 150px;
	border:1px solid #22b272;
	border-radius:4px;
	font-size: 18px;
	background: #22b272;
	float:center;
}	  

