body { 
  margin: 0px; 
  padding: 0px; 
  font-family: 'Open Sans', sans-serif; 
  background-color: #d6f7ce;  
}
.h1Title {
	font-size: 50px;
	font-family: cooper black;
	color: #1d6d74;
}

.wrapper {
    background-color: #d6f7ce;
    width: 100%;
    height: 100%;
}
.container {
    background-color: #d6f7ce;  
	/*float: right;*/
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	/*height: 100%;*/
	width: 90%; 
	border: 0px solid black;
	display: flex; 
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 25px;
}

.thumbNail {
  height: 250px;
	box-shadow: 8px 8px 20px #46846b;
	border-radius: 20px;
}
.titles {
	font-family: calibri;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 4px black;
}
.pictureDiv {
	text-align: center;
	cursor: pointer;
}
