body { 
  margin: 0px; 
  padding: 0px; 
  font-family: 'Open Sans', sans-serif; 
  background-color: black;  
}
.wrapper {
    width: 100%;
}
.headerDiv {
    width: 100%;
}
.imageDiv {
    width: 59%;
	float: left;
	color: white;
}
.textDiv {
    width: 40%;
	float: right;
	color: white;
}

.textHeaderDiv {
	font-size: 40px;
}

.textCostsDiv {
	font-size: 20px;
}

	span {cursor:pointer; }
		.number{
			margin:100px;
			align: left;
		}
		.minus, .plus{
			font-size: 23px;
			color: black;
			width:30px;
			height:25px;
			background:#f2f2f2;
			border-radius:4px;
			padding:8px 5px 8px 5px;
			border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
		}
		input{
			height:44px;
      width: 70px;
      text-align: center;
      font-size: 20px;
			border:1px solid #ddd;
			border-radius:4px;
      display: inline-block;
      vertical-align: middle;
	}
		
.addCart{
	height:44px;
	width: 150px;
	border:1px solid #22b272;
	border-radius:4px;
	font-size: 18px;
	background: #22b272;
	float:center;
}	  
			