body { 
  margin: 0px; 
  padding: 0px; 
  font-family: 'Open Sans', sans-serif; 
  background-color: rgb(214,247, 206); 
}
.invoiceContainer {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 60%; 
	border: 0px solid black;
	display: flex; 
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: white; 
	border-radius: 10px;
	box-shadow: 8px 8px 20px rgb(70,132, 107);
}

.invoiceThumbNail {
	position: relative;
	top: 5px;
	left: 5px;
	height: 60px;
	border-radius: 5px;
}
.invoiceIcon {
	position: relative;
	top: 5px;
	left: 100%;
	height: 25px;
	cursor: pointer;
}
.invoiceWallet {
	position: relative;
	top: 5px;
	left: 120%;
	height: 25px;
	cursor: pointer;
}

.headerInvoiceIcon {
	position: relative;
	left: -80px;
	top: -7px;
	height: 35px;
}

.headerLogo {
	position: relative;
	left: 85%;
	top: 5px;
	height: 50px;
}

.headerInvoiceDiv {
	position: relative;
	top: 5px;
	text-align: left;
	width: 99%;
	border: 2px solid rgb(70,132, 107);
	border-radius: 10px;
	height: 60px;
}
.headerInvoiceText{
	position: relative;
	left: -50;
	top: -10px;
	font-size: 35px;
	text-align: center;
	color: rgb(70,132, 107);
}

.invoicePictureDiv {
	text-align: left;
	width: 8%;
}
.invoiceOrderLineDiv{
	display: flex; 
	flex-flow: row;
	justify-content: flex-start;
	align-content: center;
	height: 70px;
	width: 98%; 
	text-align: center;
	background-color: rgb(255, 255, 255);
/*	border-radius: 10px;
	border: 2px solid rgb(180,180, 180);*/

}
.invoiceOrderDetailDiv{
	position: relative;
	width: 90%;
	top: 15px;
	left: 50px;
	height: 20px;
	border: 0px solid black;
}
table{
  width: 90%;
  position: relative;
  top: -5px;
}
.invoiceInput{
  position: relative;
  top: 0px;
  width: 30px;
  height: 20px;
  text-align: right;
  font-size: 13px
}
.invoiceButton{
  position: relative;
  top: 1px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}

.thTextInvoice{
  color: rgb(170, 170, 170);
  width: 55%;
  text-align: left;
}
.thNumberInvoice{
  color: rgb(170, 170, 170);
  width: 12%;
  text-align: left;
}
.thAmountInvoice{
  color: rgb(170, 170, 170);
  width: 18%;
  text-align: right;
}

.tdTextInvoice{
  color: black;
  text-align: left;
  position: relative;
  top: -20px;
}
.tdNumberInvoice{
  color: black;
  text-align: left;
  position: relative;
  top: -20px;
}
.tdAmountInvoice{
  color: black;
  text-align: right;
  position: relative;
  top: -20px;
}
