body {
  margin: 0;
  padding: 0;
  font-family: calibri;
  background-color: #cff0d1;
  font-size: 16px;
}

.wrapper {
    width: 100%;
}
.headerDiv {
    width: 100%;
}
.imageDiv {
    width: 70%;
	float: right;
	color: #1d6d74;
}
.textDiv {
	position: relative;
	top:   250;
	left:  40;
    width: 60%;
	float: center;
	color: #b6c7ae;
}

.textHeaderDiv {
	position: relative;
	top: 0;
	left: 25;
	font-family: roboto;
	font-style: italic;
	color: #1d6d74;
	/*text-shadow: 2px 2px 4px #1d6d74;*/
}

.vertMenuDiv {
	position: relative;
	left: -180px;
	top: 0px;
	width: 300px;
	font-style: italic;
	vertical-align: text-top;
}
.contentDiv {
	/*position: absolute;
	left: 200px;*/
	width: 60%;
}
.thumbNail {
  height: 220px;
  width: auto;
	/*box-shadow: 8px 8px 20px #46846b;*/
	border-radius: 5px;
}
.logoNail {
	height: auto;
	width: 200px;
	display: inline-block;
}


.infoDiv {
	justify-content: space-evenly;
	align-items: center;
	gap: 25px;
	float: right;
	display: flex; 
	flex-flow: row wrap;
	top: 10%;
	/*	left: 500px;*/
}

.myImage{
	height: 800px;
	box-shadow: 20px 20px 40px #46846b;
	border-radius: 40px;

}
/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  /* position: relative;
  margin: auto;*/
}

/* Caption text */
.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.infoContainer {
    background-color: rgb(150 200 200 / 0);  
	float: right;
	position: absolute;
	left: -195px;
	margin-left: 0px;
	margin-right: 0px;
	height: 720px;
	width: 130px; 
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding: 30px;
	gap: 15px;
}

.imgSplash {
  display: block;
  margin-left: auto;
  margin-right: auto;	
  width: 65%;
  height: auto;
}
table{
	width: 60%;
    margin: 0px auto; 
}
input{
	width: 96%;
	border: none;
 }
.header {
	border: 1px solid black;
	color: blue;
	background-color: rgb(200, 200, 200);
	font-style: bold;
	padding: 5px;
}
.rowTitle {
	border:1px solid grey;
	color: black;
	background-color: rgb(220, 220, 235);
	padding: 5px;
}
.cell {
	border:1px solid grey;
	color: black;
	background-color: white;
	padding: 5px;
}
.submitTitle {
	border:0px solid grey;
	color: black;
	background-color: rgb(0, 0, 0, 0);
	padding: 5px;
}
.submitCell {
	border:0px solid grey;
	color: black;
	background-color: rgb(0, 0, 0, 0);
	padding: 5px;
}
button{
	width: 80px;
	height: 30px;
}