.wrapper {
    width: 100%;
    background-color: green;
}
.headerDiv {
    width: 100%;
}
.imageDiv {
    width: 60%;
	float: right;
	color: #1d6d74;
}
.textDiv {
	position: fixed;
	top: 300px;
	left: 40px;
    width: 30%;
	float: left;
	color: #1d6d74;
}

.textHeaderDiv {
	position: fixed;
	top: 140px;
	left: 25px;
	font-size: 80px;
	font-family: cooper black;
}

.subHeaderDiv {
	position: fixed;
	top: 250px;
	left: 40px;
	font-size: 30px;
	font-style: italic;
}

.controlDiv {
	top: 10%;
	left: 10%;
}

.myImage{
	height: 800px;
	box-shadow: 20px 20px 40px #46846b;
	border-radius: 40px;

}
/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  /* position: relative;
  margin: auto;*/
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
