<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>VoorThuis - techniek en electronica.</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="css/menuStyle.css">
	<link rel="stylesheet" href="css/splash.css">
	<link rel="stylesheet" href="css/slideshow.css">
	<script type="application/javascript">var pubIp; function getIP(json){pubIp=json.ip;}</script>
	<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
	<script type="text/javascript" src="js/base64.js"></script>
	<script type="text/javascript" src="js/slideshow.js"></script>
	<script type="text/javascript" src="js/json2.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/serverfunctionexecutor.js"></script>
	<script type="text/javascript" src="js/connection.js"></script>
	<script type="text/javascript" src="<#serverfunctionsjs>"></script>
	<script type="text/javascript">
		var objectBin = 1;
		
		function getPage(itemLabel){
			var content = serverMethods().RestDispatcher(itemLabel + "?" + formatIp(pubIp) + "?contentDiv?" + objectBin);
			var restContent = content.result.split("|");
			document.getElementById(restContent[0]).innerHTML = restContent[1];
		}
		
		function serverMethods(){
			return new <#classname>(connectionInfo);
		}
	</script>
</head>

<body onload="getPage('home')">
	<div id="menu"></div>
	<script src='js/reactProdMin.js'></script>
	<script src='js/react-DomProdMin.js'></script>
	<script src='js/gsapMin.js'></script>
	<script  src="js/menuScript.js"></script>
	<div class="divWrapper" id="divWrapper">
		<!--<div class="vertMenuDiv" id="vertMenuDiv">vertikaal menu</div>-->
		<div class="infoContainer" id="vertMenuDiv">vertikaal menu</div>
		<div class="contentDiv" id="contentDiv">contentDiv</div>
		<div class="infoDiv" id="infoDiv">info div</div>
	</div>
</body>
</html>
