<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>VoorThuis - techniek en electronica.</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="css/menuStyle.css">
	<link rel="stylesheet" href="css/splash.css">
	<link rel="stylesheet" href="css/slideshow.css">
	<script type="application/javascript">var pubIp; function getIP(json){pubIp=json.ip;}</script>
	<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
	<script type="text/javascript" src="js/base64.js"></script>
	<script type="text/javascript" src="js/slideshow.js"></script>
	<script type="text/javascript" src="js/json2.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/serverfunctionexecutor.js"></script>
	<script type="text/javascript" src="js/connection.js"></script>
	<script type="text/javascript" src="<#serverfunctionsjs>"></script>
	<script type="text/javascript">
		function getPage(itemIndex){
			alert(itemIndex);
			var content = serverMethods().RestDispatcher(itemIndex + "?" + formatIp(pubIp) + "?contentDiv");
			var info = serverMethods().RestDispatcher((itemIndex + 20) + "?" + formatIp(pubIp) + "?infoDiv");
			var restContent = content.result.split("|");
			var infoContent = info.result.split("|");
			document.getElementById(restResult[0]).innerHTML = restResult[1];
		}
	</script>
	<script type="text/javascript">
		function onLoad(){
			setConnection('<#host>','<#port>','<#urlpath>');
			var index = 0;
			var content = serverMethods().RestDispatcher(index + "?" + formatIp(pubIp) + "?contentDiv");
			var info = serverMethods().RestDispatcher((index + 20) + "?" + formatIp(pubIp) + "?infoDiv");
			var menu = serverMethods().RestDispatcher((index + 40) + "?" + formatIp(pubIp) + "?vertMenuDiv");
			var restContent = content.result.split("|");
			var infoContent = info.result.split("|");
			var menuContent = menu.result.split("|");
			document.getElementById(restContent[0]).innerHTML = restContent[1];
			document.getElementById(infoContent[0]).innerHTML = infoContent[1];
			document.getElementById(menuContent[0]).innerHTML = menuContent[1];

			showSlides();
		}

		function serverMethods(){
			return new <#classname>(connectionInfo);
		}
	</script>
</head>

<body onload="onLoad()">
	<div id="menu"></div>
	<script src='js/reactProdMin.js'></script>
	<script src='js/react-DomProdMin.js'></script>
	<script src='js/gsapMin.js'></script>
	<script  src="js/menuScript.js"></script>
	<div class="divWrapper" id="divWrapper">
		<!--<div class="vertMenuDiv" id="vertMenuDiv">vertikaal menu</div>-->
		<div class="infoContainer" id="vertMenuDiv">vertikaal menu</div>
		<div class="contentDiv" id="contentDiv"></div>
		<div class="infoDiv" id="infoDiv">info div</div>
	</div>
</body>
</html>
